# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Autotools
Makefile
Makefile.in
.deps
.libs
*.la
*.lo
/aclocal.m4
/configure
/config.*
/autom4te.cache
/libtool
/stamp-h1
.dirstamp
/build-aux/*
!/build-aux/git-version-gen
!/build-aux/valgrind.sh

# installed .m4 files
/m4/*.m4
!/m4/pkg.m4

# binaries
/dwire-gdb

# tarballs
dwire-gdb-*.tar.*
dwire-gdb-*.zip

# git-version-gen
/.version

# tests
/tests/check_error
/tests/check_serial
/tests/check_utils

/build/
